@media screen and (max-width: 1280px) {

    /* navbar */
    .phone-numbers {
        font-size: 14px;
    }

    /* baglamalarim */
    /* .radiobtn_hr {
        width: 200px !important;
    } */

    .radio-images {
        width: 200px
    }
}

@media screen and (max-width: 998px) {

    /* navbar */
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .nav-logo {
        margin-left: 125px;
    }

    .phone-numbers {
        font-size: 14px;
    }

    /* 
    personal cabinet .private-account-nav {
        width: 100% !important;
    } */

    #navbarSupportedContent2 {
        margin-top: 0 !important;
    }

    .sexsi_kabinet_title {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .tables-mobile {
        display: block !important;
    }

    .xariciunvan_title {
        font-size: 25px;
    }

}

@media screen and (max-width: 576px) {
    .logo {
        width: 60px !important;
        height: 25px !important;
    }

    .nav-link {
        padding: 0;
    }

    /* balans */
    .btns {
        width: 100%;
    }

    /* .xariciunvan_btn{
        width: 100%;
        margin: 1px;
        padding: 10px 0;
        font-size: 10px;
    } */

    .toplam_qiymet {
        font-size: 10px !important;
        width: 120px !important;
        padding: 0 !important;
    }
}


.logo {
    width: 86px;
    height: 32px;
}